BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignEscapedNewlines: DontAlign
UseTab: Always
TabWidth: 4
