BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignEscapedNewlines: DontAlign
AccessModifierOffset: -4
UseTab: Always
TabWidth: 4
NamespaceIndentation: All